.selection-area {
    height: 32px;
    background: -webkit-gradient(linear, left top, left bottom, from(#7B7979), to(#393939));
    background: -moz-linear-gradient(#7B7979, #393939);
    background:  -ms-linear-gradient(#7B7979, #393939);
    background:      linear-gradient(#7B7979, #393939);
}

.pos .searchbox input {
    width: 175px;
    border: 1px solid #cecbcb;
    padding: 10px 20px;
    padding-left: 38px;
    margin: 6px;
    background: url("../img/search.png") no-repeat 15px;
    background-color: white;
    border-radius: 20px;
    font-family: Lato;
    font-size: 13px;
}

.pos .breadcrumb {
    display: inline-block !important;
    float: left !important;
    height: 48px !important;
    line-height: 48px !important;
    min-width: 48px !important;
    background-color: #d3d3d3;
    padding: 0px !important;
}

