<openerp>
    <data>
        <record model = 'ir.ui.view' id = 'cash_management_settings'>
            <field name = 'name'>Cash Management Settings</field>
            <field name = 'model'>cash.management.settings</field>
            <field name = 'arch' type = 'xml'>
                <form string = 'Cash Management Settings' class = 'oe_form_configuration'>
                    <header>
                        <button string = 'Apply' type = 'object' name = 'execute' class = 'oe_highlight'/>
                            or
                        <button string = 'Cancel' type = 'object' name = 'cancel' class='oe_link'/>
                    </header>
                    <group string = 'Approvals'>
                        <div>
                            <field name = 'module_cash_management_approvals'/>
                            <label for = 'module_cash_management_approvals'/>
                        </div>
                        <div>
                            <field name = 'module_approvals_cash_management'/>
                            <label for = 'module_approvals_cash_management'/>
                        </div>
                    </group>
                </form>
            </field>
        </record>

        <record model = 'ir.actions.act_window' id = 'cash_management_settings_action'>
            <field name = 'name'>Cash Management Settings</field>
            <field name = 'res_model'>cash.management.settings</field>
            <field name = 'view_id' ref = 'cash_management_settings'/>
            <field name = 'view_mode'>form</field>
            <field name = 'target'>inline</field>
        </record>

        <menuitem name = 'Cash Management' id = 'cash_management_settings_menu' parent = 'base.menu_config' action = 'cash_management_settings_action'/>
    </data>
</openerp>
